.game {
  text-align: center;
}

.card {
  display: inline-block;
  margin: 10px 30px;
  vertical-align: middle;
}

.cardContent {
  padding: 16px !important;
}

.menuButtons {
  display: inline-block;
}

.board {
  display: inline-block;
  white-space: nowrap;
}

.board button {
  margin: 0;
  padding: 0;
  width: 70px;
  height: 70px;
  font-family: 굴림;
  font-size: 70px;
  text-align: center;
  line-height: 70px;
  vertical-align: top;
  background-color: #15CC79;
  border: 1px solid black;
}

.board button.black {
  color: black;
}

.board button.white {
  color: white;
}
