.App {
  margin: 10px;
}

.App ul {
  padding: 0;
  list-style: none;
}

.App ul li {
  margin: 10px;
}

.HomeButton {
  margin: 10px;
}

.FnButtons {
  margin: 10px;
}

.FnButtons input {
  margin: 0 10px;
}
